<div class="container">
    <h3 class="pt-3 text-center">КАЛЬКУЛЯТОР ОКУПАЕМОСТИ ДИСТИЛЛЯТОРА</h3>
<form>
  <div class="mb-3">
            <select class="form-select" aria-label="Выбор модели дистиллятора">
                <option selected>Выбрать</option>
                <option value="1">Дистиллятор 20 литров</option>
                <option value="2">Дистиллятор 60 литров</option>
                <option value="3">Дистиллятор 90 литров</option>
                <option value="4">Дистиллятор 125 литров</option>
                <option value="5">Дистиллятор 250 литров</option>
                <option value="6">Дистиллятор 450 литров</option>
            </select>
  </div>
  <div class="mb-3">
            <select class="form-select" aria-label="Выбор марки используемого растворителя">
                <option selected>Выбрать</option>
                <option value="1">Ацетон</option>
                <option value="2">Растворитель 646</option>
                <option value="3">Растворитель Р4(Р5)</option>
                <option value="4">Нефрас 80/120</option>
                <option value="5">Уайт-Спирит</option>
                <option value="6">Дистиллятор 450 литров</option>
            </select>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

@code {

}
