<div class="first-title">
    <h3>КАТЕГОРИИ ТОВАРОВ</h3>
</div>
<div class="container">
    <div class="row">
        <div class="col" style="text-align:center;">
            <div style="min-width:350px;">
                <a href="/distillars">
                    <img src="Img/CardsCategories/distillatr-standart-125-litrov.jpg"  class="product-img" alt="дистиилляторы растворителей">
                </a>
            </div>
            <div class="card-body text-center m-2">
                <a href="/distillars" style="text-decoration: none">
                    <h5 class="card-title">ДИСТИЛЛЯТОРЫ РАСТВОРИТЕЛЕЙ</h5>
                </a>
                <p class="card-text">Линейка оборудования включает в себя дистилляторы объемом 20,40,60,90,125,250,450 литров</p>
            </div>
        </div>
        <div class="col" style="text-align:center;">
            <div style="min-width:350px;">
                <a href="/Rec-Bag">
                    <img src="Img/CardsCategories/rec-bag.png" class="product-img" alt="Пакеты Rec-Bag">
                </a>
            </div>
            <div class="card-body text-center m-2">
                <a href="/Rec-Bag" style="text-decoration: none">
                    <h5 class="card-title">ПАКЕТЫ REC-BAG И КОМПЛЕКТУЮЩИЕ</h5>
                </a>
                <p class="card-text">Пакеты Rec-Bag устанавливаются внутрь бака дистиллятора для упрощения работы по очистке.</p>
            </div>
        </div>
    </div>
</div>


@code {

}
