<div class="container">
    <div class="row">
        <img src="Img/IndexLable.jpg" class="img-fluid p-3" alt="Дистилляторы растворителей">
    </div>
    <div class="row">
        <h3 class=" pt-3 text-center">ДИСТИЛЛЯТОРЫ. ОБОРУДОВАНИЕ ДЛЯ РЕГЕНЕРАЦИИ РАСТВОРИТЕЛЕЙ.</h3>
    </div>
    <div class="row">
        <h3 class=" pt-2 text-center">РАСТВОРИТЕЛЬ — НЕИЗБЕЖНЫЕ РАСХОДЫ?</h3>
    </div>
    <div class="row pt-5">
        <p style="text-indent: 25px;">
            Это неотъемлемая часть ведения бизнеса в профессиональной полиграфической или лакокрасочной промышленности –
            растворители являются необходимостью. Контроль вязкости, улучшение времени высыхания, предотвращение смазывания,
            обеспечение прочной адгезии, обезжиривание, очистка деталей или промывка оборудования… несомненно, ваш бизнес
            зависит от растворителей для различных целей. Хотя они необходимы для ведения успешного производства,
            есть еще одна универсальная истина о растворителях — они являются источником значительных расходов —закупка,
            хранение, транспортировка и утилизация.
            <strong> Фактически, хранение и утилизация растворителей является одной из самых больших статей операционных расходов для многих предприятий.</strong>
        </p>
    </div>
    <div class="row">
        <h3 class=" pt-5 text-center">ПЕРЕОСМЫСЛЕНИЕ ПРОБЛЕМЫ ЗАГРЯЗНЕННОГО РАСТВОРИТЕЛЯ</h3>
    </div>
    <div class="row pt-5">
        <div class="col-3">
            <img src="Img/distillar/Distillator-20-litrov.png" class="img-fluid p-3" alt="дистиллятор 20 литров">
        </div>
        <div class="col-9">
            <p style="text-indent: 25px;">
                Из-за высокой стоимости использования растворителя ряд сторонних сервисных компаний предложили гениальную
                идею по переработке растворителя, чтобы его можно было использовать повторно, не покупая новый. Этот процесс,
                иногда называемый восстановлением растворителя, работает путем отделения полезного растворителя от пигментов,
                твердых отходов и других загрязняющих веществ. Одним из наиболее распространенных методов регенерации растворителей
                является его дистилляция, при которой отработанные жидкости нагреваются до температуры кипения,
                растворитель преобразуется в пар и затем снова охлаждается, таким образом пар проходит через процесс конденсации,
                преобразуется в жидкое состояние.
                <strong> Извлекается до 95% исходного растворителя</strong>
                , который можно использовать повторно без потерси своих свойств. В тоже время, передача вашего растворителя
                в сторонние компании на переработку - это не самый эффективный способ снизить затраты на растворителе.
                То же самое оборудование, которое используют эти сервисы, можно приобрести самим для внутреннего использования!
            </p>
        </div>
        <div class="row">
            <h3 class=" pt-5 text-center">ВАШ РАСТВОРИТЕЛЬ - ЭТО ВАША ЭКОНОМИЯ И ВАШИ ДЕНЬГИ!</h3>
        </div>
        <div class="row pt-5">
            <p style="text-indent: 25px;">
Большинство дистилляторов очень компактны, они могут поместиться в углу печатного цеха или краско-приготовительного цеха,
многие из них работают в полностью автоматическом режиме, поэтому нет необходимости нанимать дополнительный персонал 
для наблюдения за процессом перегонки. Это сокращает затраты на посреднике и обеспечивает самую высокую экономию при переработке растворителя.
                <strong>При ежедневном использовании дистиллятора окупаемость инвестиций составляет всего от 2 до 6 месяцев! </strong>
                Таким образом, возникает резонный вопрос: зачем позволять кому-то другому зарабатывать деньги на восстановлении ВАШЕГО растворителя?
                Быстрая окупаемость инвестиций не только делает привлекательным восстановление растворителя собственными силами, но и устанавливает 
                базовый высокий уровень рентабельности!
                <strong>
                    Модернизируйте свое производство! Расширяйте свою деятельность!
                    Предложите очистку растворителей в качестве услуги другим предприятиям и создайте совершенно новый источник дохода!
                </strong>
            </p>
        </div>
    </div>
</div>


@code {

}
