<BSCarousel HasControls="true" HasIndicators="true" IsDark="true">
    <BSCarouselItem>
        <img src="Img/slider/MainLable.jpg" class="img-fluid p-3" style="max-height:400px;" alt="Дистилляторы растворителей" />
        <BSCarouselCaption Class="d-none d-md-block">
            <h5>Дистилляторы растворителей</h5>
            <p>Оборудование для регенерации загрязненных растворителей</p>
        </BSCarouselCaption>
    </BSCarouselItem>
    <BSCarouselItem>
        <img src="Img/slider/IndexLable.jpg" class="img-fluid p-3" style="max-height:400px;" alt="Дистилляторы растворителей" />
        <BSCarouselCaption Class="d-none d-md-block">
            <h5>Очистка растворителей</h5>
            <p>Процесс дистилляции загрязненных растворителей в регенераторе </p>
        </BSCarouselCaption>
    </BSCarouselItem>
    <BSCarouselItem>
        <img src="Img/slider/MainLable2.jpg" class="img-fluid p-3" style="max-height:400px;" alt="Дистилляторы растворителей" />
        <BSCarouselCaption Class="d-none d-md-block">
            <h5>Восстановление загрязненных растворителей</h5>
            <p>Восстановленные растворители можно использовать неограниченное число раз</p>
        </BSCarouselCaption>
    </BSCarouselItem>
</BSCarousel>

@code {

}
