<BSCarousel HasControls="true" HasIndicators="true" IsDark="true">
    <BSCarouselItem>
        <img src="Img/IndexLable.jpg" class="img-fluid p-3" style="max-height:400px;" alt="Дистилляторы растворителей" />
        <BSCarouselCaption Class="d-none d-md-block">
            <h5>Дистилляторы растворителей</h5>
            <p>Оборудование для регенерации загрязненных растворителей</p>
        </BSCarouselCaption>
    </BSCarouselItem>
    <BSCarouselItem>
        <img src="Img/slider.jpg" class="img-fluid p-3" style="max-height:400px;" alt="Дистилляторы растворителей" />
        <BSCarouselCaption Class="d-none d-md-block">
            <h5>Дистилляторы растворителей</h5>
            <p>Оборудование для регенерации загрязненных растворителей</p>
        </BSCarouselCaption>
    </BSCarouselItem>
    <BSCarouselItem>
        <img src="Img/slider2.jpg" class="img-fluid p-3" style="max-height:400px;" alt="Дистилляторы растворителей" />
        <BSCarouselCaption Class="d-none d-md-block">
            <h5>Дистилляторы растворителей</h5>
            <p>Оборудование для регенерации загрязненных растворителей</p>
        </BSCarouselCaption>
    </BSCarouselItem>
</BSCarousel>

@code {

}
