@inject ISyncLocalStorageService LocalStorage
@inject IDataCart dataCart
@implements IDisposable

<a href="cart" class="btn btn-primary">
    <i class="oi oi-cart"></i> Корзина
    <span class="badge rounded-pill bg-light text-dark">
        @GetProductCount()
    </span>
</a>



@code {
    protected override void OnInitialized()
    {
        dataCart.OnChange += StateHasChanged;
    }
    public void Dispose()
    {
        dataCart.OnChange -= StateHasChanged;
    }

    private int GetProductCount()
    {
        var cart = LocalStorage.GetItem<List<ProductModel>>("cart");
        return cart != null ? cart.Count : 0;
    }
}
