<div>
<img src="Img/slider.jpg" class="img-fluid" alt="Дистилляторы растворителей">
</div>
<div>
    РАСТВОРИТЕЛЬ — НЕИЗБЕЖНЫЕ РАСХОДЫ?
    Это неотъемлемая часть ведения бизнеса в профессиональной полиграфической или лакокрасочной промышленности – растворители являются необходимостью. Контроль вязкости, улучшение времени высыхания, предотвращение смазывания, обеспечение прочной адгезии, обезжиривание, очистка деталей или промывка оборудования… несомненно, ваш бизнес зависит от растворителей для различных целей.
    Хотя они необходимы для ведения успешного производства, есть еще одна универсальная истина о растворителях — они являются источником значительных расходов —закупка, хранение, транспортировка и утилизация. Фактически, хранение и утилизация растворителей является одной из самых больших статей операционных расходов для многих предприятий.
    ПЕРЕОСМЫСЛЕНИЕ ПРОБЛЕМЫ ЗАГРЯЗНЕННОГО РАСТВОРИТЕЛЯ
    Из-за потенциально ошеломляющей стоимости использования растворителя ряд сторонних сервисных компаний предложили гениальную идею по переработке растворителя, чтобы его можно было использовать повторно, а не повторно покупать.
    Этот процесс, иногда называемый восстановлением растворителя, работает путем отделения полезного растворителя от пигментов, твердых отходов и других загрязняющих веществ. Одним из наиболее распространенных методов регенерации является дистилляция, при которой отработанные жидкости нагреваются для выпаривания растворителя, который затем собирается в виде пара, а затем снова охлаждается, так что пар проходит через конденсацию и снова становится жидким. Отработанный продукт изолируется, и извлекается до 95% исходного растворителя, который можно использовать повторно без снижения производительности.
    ВАШ РАСТВОРИТЕЛЬ - ЭТО ВАША ЭКОНОМИЯ И ВАШИ ДЕНЬГИ.
    В тоже время, передача вашего растворителя в сторонние компании на переработку - это не самый эффективный способ снизить затраты на растворителе.
    То же самое оборудование, которое используют сторонние сервисы, также можно приобрести самим для внутреннего использования!
    Многие дистилляторы компактны, чтобы поместиться в углу печатного цеха или краско-приготовительного цеха, и многие из них работают в автоматическом режиме, поэтому нет необходимости нанимать дополнительный персонал для наблюдения за процессом перегонки. Это сокращает затраты на посреднике и обеспечивает самую высокую экономию при переработке растворителя. При ежедневном использовании дистиллятора окупаемость инвестиций составляет всего от 2 до 6 месяцев!
    Таким образом, возникает резонный вопрос: зачем позволять кому-то другому зарабатывать деньги на восстановлении ВАШЕГО растворителя? Быстрая окупаемость инвестиций не только делает привлекательным восстановление растворителя собственными силами, но и устанавливает базовый высокий уровень рентабельности!
    Модернизируйте свое производство! Расширяйте свою деятельность!
    Предложите очистку растворителей в качестве услуги другим предприятиям и создайте совершенно новый источник дохода!

</div>
@code {
    
}
