.heder[b-990tmna7sw] {
}

.image[b-990tmna7sw] {
    max-height: 450px;
    max-width: 550px;
    margin: 5px;
}

.header-tyttle[b-990tmna7sw] {
    text-align: center;
    margin: 5px;
}

.header-body[b-990tmna7sw] {
    text-align: left;
    margin: 5px;
    text-align: center;
}

p[b-990tmna7sw] {
    text-indent: 25px;
    margin: 5px;
    text-align: left;
}

h5[b-990tmna7sw] {
    margin: 10px;
}

.product[b-990tmna7sw] {
    margin: 10px;
}
