.heder[b-967csqbevj] {
}

.image[b-967csqbevj] {
    max-height:250px;
    max-width:250px;
    margin:5px;
}
.header-tyttle[b-967csqbevj] {
    text-align: center;
    margin: 5px;
}

.header-body[b-967csqbevj] {
    text-align: left;
    margin: 5px;
    text-align: center;
}

p[b-967csqbevj] {
    text-indent: 25px;
    margin: 5px;
    text-align:left;
}

h5[b-967csqbevj] {
    margin:10px;
}
.product[b-967csqbevj] {
    margin:10px;
}

