@page   "/distillars"
@inject IDataState DataState
<div class="header">
    <div class="header-tyttle">
        <h3>Дистилляторы растворителей UltraClian</h3>
    </div>
    <div style="text-align:center;">
        <img src="Img/distillar/distilator-standart-PLC 250 litrov.jpg" class="image" alt="дистилляторы растворителей" />
    </div>
    <div class="header-body">
        <h4>
            Дистилляторы UltraClean для переработки загрязненных растворителей 
        </h4>
        <p>
            Дистилляторы <strong>UltraClean</strong> применяются для очистки загрязненных растворителей.Загрязненные растворители
            могут быть утилизированы или восстановлены путем дистилляции
            и последующей конденсации. <strong>UltraClean</strong>g предлагает широкий ассортимент дистилляционных установок для всех типов растворителей.
            В зависимости от требований к дистилляции используются дистилляционные установки,
            с помощью которых с помощью дистилляции можно перерабатывать от 5 до 100 литров в час.
            <h5> ПРОЦЕСС ДИСТИЛЛЯЦИИ РАСТВОРИТЕЛЯ </h5>
            Прежде всего, загрязненный растворитель заливается в дистилляционную установку вручную, насосом или вакуумом перед дистилляцией.
            В нагревательной рубашке дистилляционной установки имеется теплоноситель, который нагревает загрязненные растворители.
            При достижении температуры кипения растворителя растворитель начинает испаряться.
            Во время дистилляции пары растворителя проходят через конденсатор , где они конденсируются и выходят из дистилляционной установки в виде чистого,
            прозрачного, повторно используемого, регенерированного растворителя, называемого дистиллятом или конденсатом.
            Грязь от ранее загрязненного растворителя остается в пакете Rec-Bag.  
        </p>
        <h5>
            Модельный ряд  дистилляторов <strong>UltraClean</strong>:
        </h5>
    </div>
</div>
<div class="product">
<Products CategoryUrl="distillars"/>
</div>
@code {
    protected override async Task OnInitializedAsync()
    {
        await DataState.AddVisit();
        await DataState.GetVisits();
    }

}
