@page "/feedback"
@using System.Net.Mail
<div class ="m-5 text-center">
<h3>Уважаемые клиенты!</h3>
</div>
<div class="m-5 text-center">
    <span>С целью оперативного рассмотрения вашего обращения просим Вас заполнить все имеющиеся строки в форме!</span>
</div>

<FBForm URLNamePage="Форма запроза из окна связаться с нами"/>

@code {

}
