@page "/"
@page "/{categoryUrl}"
@inject IDataCategory DataCategory
@inject IDataProduct DataProduct

<PageTitle>Дистилляторы растворителей UltraClean</PageTitle>


    <h2>UltraClean</h2>
    <Products/>


@code{
    [Parameter]
    public string CategoryUrl { get; set; }

    private Category category = null;

    protected override async Task OnParametersSetAsync()
    {
        await DataProduct.LoadProduct(CategoryUrl);
       

    }
   
}