@page "/news"
@inject IDataNews DataNews


<h3>News</h3>
<div>
    @foreach(var item in NewsCard)
    {
    <div>
        @item.Image
    </div> 
    <div>
        @item.Title
    </div>
        <div>
            <h3>@item.SmallDescription</h3>
        </div>
        <div>
            <span>@item.BigDescription</span>
        </div>

    }
</div>

@code {
    private List<DistEquipment.Shared.News> NewsCard = new List<DistEquipment.Shared.News>();
    

    protected override async Task OnInitializedAsync()
    {
        NewsCard = await DataNews.GetNews();
    }

}
