@page "/Rec-Bag"

@inject IDataState DataState

<div class="header">
    <div class="header-tyttle">
        <h3>Пакеты Rec-Bag</h3>
    </div>
    <div style="text-align:center;">
        <img src="Img/rec-bag-solvent.jpeg" class="image" alt="пакеты rec-bag" />
    </div>
    <div class="header-body">
        <h4>
            Пакеты <strong> REC-BAG</strong>  для сбора отработанных отходов после процесса дистилляции.
        </h4>
        <p>
            Устойчивые к растворителям и термостойкие полиамидные пакеты<strong> REC-BAG</strong>  разных размеров
            для использования в дистилляторах с регенерацией растворителя.
            Дистилляция позволяет извлекать и повторно использовать загрязненные растворители во многих областях промышленности.
            В процессе загрязнения (смолы, полимеры, пигменты, краски, масла и т.д.) отделяются от исходного растворителя.
            Свойства растворителя при дистилляции не изменяются, так что процесс можно повторять так часто, как это необходимо.
            Загрязняющие вещества остаются в виде осадка в кипящем резервуаре дистилляционной установки.
            Чтобы избежать трудоемких работ по очистке, термостойкие и устойчивые к растворителям ПАКЕТЫ <strong> REC-BAG</strong> можно поместить в бак дистиллятора.
            После процесса дистилляции их можно надлежащим образом утилизировать вместе с остатками.
            Таким образом, пакеты <strong> REC-BAG</strong>  обеспечивают безопасное, экономичное и, что не менее важно, экологически значимое обращение с проблемными веществами.
        </p>
        <h5>
           Пакеты <strong> REC-BAG</strong>  для дистилляторов UltraClean:
        </h5>
    </div>
</div>
<div class="product">
<Products CategoryUrl="Rec-Bag"/>
</div>

@code {


    protected override async Task OnInitializedAsync()
    {
        await DataState.AddVisit();
        await DataState.GetVisits();
      
    }

}
